body{
    background-color: rgb(245, 245, 245);
}
header{
    background-color: rgb(236, 45, 45);
}
.searchbarr{
    border: 0;
    outline: none;
    position:relative;
    width: 97%;
    height: 50%;
    top: 0;
    margin-top: 20px;
    border-radius: 3px;
}
button{
    position: absolute;
    height: 35px;
    width: 3%;
    margin-left: 0;
    margin-top: 18px;
    padding-top: 0;
}
.container{ 
   display: inline-flex;
   padding-left: 10%;
   padding-top: 5px;
   margin-top: 10px;
   margin-left: 20px;
}
li{
    display: inline-flex;
    float: inline-start;
    padding-left: 10px;
    margin: 5px;
    margin-left: 20px;
}
nav{
    flex-direction: row;
}
a:active{
    color: white;
    text-decoration: none;
}
a:link{
    color: white;
}
.links{
    text-decoration: none;
    color: white;
}
.mainsection{
    width: 18%;
    border: 1px silver;
    border-style: solid;
    margin-top: 50px;
    margin-left: 100px;
    background-color: white;
    position: fixed;
}
.johndoe{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: rgb(73, 72, 72);
}
.profile{
    color: rgb(236, 45, 45);
}
.number{
    color: black;
}
.redbox{
    background-color: rgb(236, 45, 45);
    width: 100%;
    height: 100px;
}
.middlesection{
    align-items: center;
    margin-top: 50px;
    margin-left: 380px;
    width: 40%;
    position: absolute;
    

}
.smallredbox{
    background-color: rgb(236, 45, 45);
    width: 100%;
    height: 3px;
}
.whitebox{
    float: right;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px silver;
    border-style: solid;
}
.seconddivdown{
    float: right;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    border: 1px silver;
    border-style: solid;
    
}
.pap{
    border-style: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 45%;
}
.paj{
    border-style: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    color: rgb(245, 245, 245);
    background-color: rgb(236, 45, 45);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.project{
    color: rgb(73, 72, 72);
    text-decoration: none;
}
.lorem{
    margin-left: 5%;
}
.vm{
    color: rgb(236, 45, 45);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.johnd{
    font-weight: bold;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20%;
}
.swd{
    font-weight: bold;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}
.ft{
    border-style: none;
    border-radius: 1em;
    height: 30px;
    width: 70px;
    color: rgb(245, 245, 245);
    background-color: green;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hr{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.time{
    font-weight: lighter;
    color: rgb(73, 72, 72);
}
.lang{
    border: 1em ;
    background-color: rgb(245, 245, 245);
    color: rgb(73, 72, 72);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.end{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 72, 72);
}
.views{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 72, 72);
    float: right;
}
.lastsection{
    align-items: center;
    float: right;
    width: 18%;
    border: 1px silver;
    border-style: outset;
    box-shadow: inset;
    margin-top: 50px;
    margin-right: 10%;
    background-color: white;
    
}
.ttoww{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: black;
    margin-top: 100px;
    margin-left: 20px;
}
.pofthw{
    font-size: small;
    margin-left: 20px;
    color: rgb(73, 72, 72);
}
.signup{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: black;
    margin-left: 80px;
}
.learnmore{
    font-size: small;
    margin-left: 0px;
    color: rgb(236, 45, 45);
}
